<div class="article-card">
  <h2>HOLA</h2>
  <p>Juan Manuel Ottado</p>
  <img
    src="https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  />
</div>
