<div id="card-container">
    <% let datos = articles %>
    <% for(let i= 0; i<datos.length ;i++){ %>
    <div class="article-card">
    <h3> <%= datos[i].title %></h3>
     <img src=<%=datos[i].img1%> alt="">
    </div>
    <% } %>  
</div>