<div id="card-container">
    <div id="article-title">
        <h2>ULTIMAS NOVEDADES</h2>
      </div>
<% let datos = articles %>
<% for(let i= 0; i<datos.length ;i++){ %>
    <div class="article-card" >
        <img src=<%=datos[i].img1%> alt="">
        <h3> <%= datos[i].title %></h3>
    </div>
    <% } %>  
</div>