<footer>
    <nav>
        <img src="img/logoWhite.svg" alt="">
        <ul>
            <li>Home</li>
            <li>Contact</li>
            <li>About Us</li>
        </ul>
        <span>Wired Up - All rights reserved</span>
    </nav>
</footer>