<header>
  <nav>
    <img src="img/logo.svg" alt="Logo Wired Up" />
    <ul>
      <a href="/"><li>Home</li></a>
      <a href=""><li>Contact</li></a>
      <a href="/about"><li>About Us</li></a>
    </ul>
  </nav>
</header>
