<header>
  <nav>
    <a href="/"><img src="/img/logo.svg" alt="Logo Wired Up" /></a>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/admin"><li>Admin</li></a>
      <a href="/usuarios"><li>Iniciar sesión</li></a>
    </ul>
  </nav>
</header>
