<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="../img/logo.svg" alt="Logo Wired Up" />
        <ul>
          <a href="/"><li>Home</li></a>
          <a href=""><li>Contact</li></a>
          <a href="/about"><li>About Us</li></a>
          <a href="/usuarios"><li>Sign In</li></a>
        </ul>
      </nav>
    </header>
    <form id="form-user" action="/usuarios/crear" enctype="multipart/form-data" method="post">
      <h2>Crear nuevo Usuario</h2>
      <label for="userName">Nombre:</label>
      <input name="userName" id="title_input" type="text" />
      <label for="password">Contraseña:</label>
      <input name="password" type="password" id="blog_content"></input>
      <label for="profileImg" class="form-label">Seleccionar una imagen</label>
      <input id="image" name="profileImg" type="file" class="form-control" />
      <input type="submit" value="Crear" />
    </form>
    <script src="js/app.js"></script>
  </body>
</html>
