<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/admin/delete/<%= user.id %>" method="post">
      <label for="name">Title:</label>
      <input id="title_input" type="text" />
      <label for="content">Content:</label>
      <textarea name="content" id="blog_content" cols="30" rows="10"></textarea>
      <input type="submit" value="enviar" />
    </form>
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
